@mixin transform-center($left: 50%, $top: 50%) {
    left: $left;
    top: $top;
    -webkit-transform: translate(-$left -$top);
    -ms-transform: translate(-$left, -$top);
    transform: translate(-$left, -$top);
}

@mixin border-radius($radius:8px) {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}