.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix:after,
.clearfix:before {
    content: "";
    /*内容设置为空！！！*/
    display: block;
    /*显示为块级元素！！！*/
    height: 0;
    visibility: hidden;
    clear: both;
    /*清除浮动！！！*/
    // content: '';
    // display: table;
}

// .clearfix:after {
//     clear: both;
// }
// .clearfix {
//     zoom: 1;
// }